*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing:border-box;
}

img{
    width: 30%;
    border-radius: 5px;
    position:right;
}

.logo{
    width:30%;
    border-radius: 5px;
    position:relative;
}

/* Body styles */
.body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    text-align: left;
    color: #333;
    position: center;
}

div {
     text-align: auto;
}


/* Left-hand side */
header {
    background-image: url("./images/G2.jpg");
    color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    position: center;
    padding: 20px;
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;

}
 

 nav {
    margin: 20px 0;
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: center;
 } 
 



/* Main content area */
main {
    margin-left: auto; 
    padding: auto;
    max-width: auto;
    background-color: rgba(22, 109, 70, 0.85); 
    border-radius: 80px;
    text-align: center;
    position: center;
}


/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
