*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing:border-box;
}


/* Styling for only the image with the class 'framed-image' */
.framed-image {
    width: 30%;             /* Size of the image */
    border: 5px solid #004e42;  /* Frame thickness and initial color (black) */
    border-radius: 10px;     /* Rounded corners for the frame */
    padding: 10px;           /* Space between the image and the frame */
    box-shadow: 0 4px 8px #004e42(0, 0, 0, 0.2);  /* Optional: shadow for a 3D effect */
    transition: border-color 0.3s ease;        /* Smooth transition when the border color changes */
}

/* Hover effect for the framed image */
.framed-image:hover {
    border-color: goldenrod;   /* Frame color changes to orange on hover */
}

.logo{
    width:10%;
    border-radius: 1px;
    position:relative;
}

/* Styling for the image with the class 'custom-size-image' */
.custom-size-image {
    width: 120px;  /* Set the width of the image */
    height: auto;  /* Let the height adjust automatically based on aspect ratio */
}


/* Body styles */
.body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    text-align: left;
    color: #333;
    position: center;
}

div {
     text-align: auto;
}


/* Left-hand side */
header {
    background-image: url("./images/G2.jpg");
    color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    position: center;
    padding: 20px;
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;

}
 

 nav {
    margin: 20px 0;
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: center;
 } 
 



/* Main content area */
main {
    margin-left: auto; 
    padding: auto;
    max-width: auto;
    background-color:(22, 109, 70, 0.85); 
    border-radius: 80px;
    text-align: center;
    position: center;
}


/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
